

  .App-picture-container {
    position: relative;
    max-width: 100%;

    overflow: hidden;
  }
  .App-picture {
   max-width:100%;
   height:auto;
   display:block;
   margin-left: auto;
   margin-right: auto;
  }

  .text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(220, 215, 215, 0.5); /* Adjust the color and opacity to suit the photo */
  padding: 10px;
  color: rgb(6, 4, 4); /* Adjust the text color to contrast with the background */
}